body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b70eeb;
    color: #ecf0f1;
    padding: 70px;
    margin-top: 60px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

section {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #b70eeb;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

strong {
    color: #34495e;
}

.contact a {
    color: #b70eeb;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px){
    section{
        padding: 20px;
        width: 90%;
    }

    header p{
        font-size: 0.9em;
    }

    h2{
        font-size:1.5em;
    }

    p{
        font-size: 0.8em;
    }
}